.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("bluffshot.png");
  background-position: center;
  background-size: cover;
  // opacity
  height: 100vh;
  text-align: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}
