.Landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  letter-spacing: 4.5px;

  .LandingName {
    text-shadow: 4px 4px gray;
    font-size: 3rem;
  }

  .LandingTitle {
    font-size: 1.4rem;
    font-weight: bold;
  }

  .LandingBlurb {
    font-size: 1.05rem;
    width: 70%;
    // font-weight: bold;
  }

  .LandingButtons {
    display: flex;
    justify-content: space-between;
    // width: 220px;
    margin-top: 5px;

    .Project-Button {
      width: 110px;
      height: 40px;
      background: none;
      color: #f0e0c1;
      border: 2px solid #f0e0c1;
    }

    // button:hover {
    //   box-shadow: inset 0 0 0 100px rgb(250, 245, 234, 0.1);
    // }

    // .Project-Contact {
    //   width: 100px;
    //   height: 40px;
    //   background: none;
    //   color: blue;
    // }
  }
}
