.Landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  letter-spacing: 4.5px;
}
.Landing .LandingButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.Landing .LandingButtons .Project-Button {
  width: 100px;
  height: 40px;
  background: none;
  color: white;
  border: 1px solid black;
}
.Landing .LandingButtons .Project-Button .Project-Button :hover {
  color: black;
}
