.Landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #ddeeea;
  letter-spacing: 4.5px;
}
.Landing .LandingIcons {
  border: 1px solid black;
  size: 1rem;
}
.Landing .LandingButtons {
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin-top: 15px;
}
.Landing .LandingButtons .Project-Button {
  width: 100px;
  height: 40px;
  background: none;
  color: blue;
}
.Landing .LandingButtons .Project-Contact {
  width: 100px;
  height: 40px;
  background: none;
  color: blue;
}
